<div>

<h2>Movie Details</h2>

<h4>{{movie.title}}</h4>
<p>Genre: {{movie.genre}}</p>
<p>Plot: {{movie.plot}}</p>

{{#each movie.cast}}
<p>{{this.name}} - {{this.occupation}} - {{this.catchPhrase}}</p>
{{/each}}

<form action="/movies/{{movie._id}}/delete" method="post"> 
<button type="submit">Delete</button>
</form>

</div>